body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.head-block {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 128px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.title-block {
    display: flex;
    align-items: flex-start;
    padding: 64px 128px;
    gap: 8px;
    flex-basis: 100px;
}

.title-content-block {
    display: flex;
    flex-direction: column;
    /* padding: 64px 12px 64px 128px; */
    gap: 12px;
    flex: 1;
    align-self: center;
    flex-shrink: 0;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
}

.title, .logo {
    color: #F9FAF8
}

.header li, .title-content {
    color: #E5E7Eb;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    align-self: flex-start;
    padding: 6px;

}

.title-image {
    display: flex;
    align-self: center;
    /* padding: 64px 128px 64px 12px; */
    flex: 1;
    flex-shrink: 0;
    
}

.head-block img {
        max-width: 100%;
        max-height: 75%;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 16px;
}

.info-grid {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.info-image {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    border: 4px #3882F6 solid;
    border-radius: 10px;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.info-image img {
    width: 100%;
    min-width: 0;
}

.info-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    width: 100px;
}

.quote-block {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    padding: 100px 400px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937
}

.quote-attribution {
    font-weight: bold;
    align-self: flex-end;
    padding-right: 50px;
}

.sign-block {
    display: flex;
    background-color:#3882F6;
    margin: 50px 350px;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.sign-content {
    display: flex;
    flex-direction: column;
}

.sign-title {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.sign-block button {
    border: 2px #F9FAF8 solid;
    font-weight: bold;
    align-self: center;
}

.sign-text {
    color: #E5E7Eb;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7Eb;
}